.containerDescricaoPrincipal {
    height: 100%;
}

.containerProdutoDescricao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.containerImgDescricao {
    height: 500px;
    border-radius: 10px;
    margin-left: 50px;
}

.containerTxtDescricao {
    margin-left: 40px;
    background-color: aliceblue;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin-right: 50px;
    justify-content: space-around;
}

.containerTxtDescricao h1 {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.containerTxtDescricao p {
    margin-bottom: 10px;
    text-align: justify;
    width: 80%;
    margin-bottom: 20px;
    line-height: 25px;
}

.containerTxtDescricao h4 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 30px;
}


.containerBtnDescricao {
    width: 50%;
    border: 1 solid black;
    background-color: #74C966;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    padding: 18px 4px;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    transition: 2.5S;
}

.containerBtnDescricao:hover {
    background-color: #22391e;
    color: aliceblue;
    transform: scale(1.1);
}

/* Celulares pequenos */
@media only screen and (max-width: 320px) {
    .containerDescricaoPrincipal {
        height: fit-content;
        margin: 10px;
    }

    .containerProdutoDescricao {
        flex-direction: column;
        align-items: center;
    }

    .containerImgDescricao {
        margin: 20px;
        margin-bottom: 0px;
        width: 85%;
        height: 250px;
    }

    .containerTxtDescricao {
        width: fit-content;
        margin: 20px;
        position: relative;
        align-items: center;
    }

    .containerTxtDescricao h1 {
        font-size: 20px;
        text-align: center;
    }

    .containerTxtDescricao p {
        margin-bottom: 10px;
        text-align: justify;
        width: 100%;
        font-size: 14px;
        margin-top: 150px;
    }

    .containerTxtDescricao h4 {

        text-align: center;
        font-size: 30px;
        position: absolute;
        top: 120px;
    }

    .containerBtnDescricao {
        width: 70%;
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 170px;
    }
}

/* Celulares */
@media only screen and (min-width: 321px) and (max-width: 767px) {
    .containerDescricaoPrincipal {
        height: fit-content;
        margin: 10px;
    }

    .containerProdutoDescricao {
        flex-direction: column;
        align-items: center;
    }

    .containerImgDescricao {
        margin: 20px;
        width: 90%;
        height: 350px;
    }

    .containerTxtDescricao {
        width: fit-content;
        margin: 20px;
    }

    .containerTxtDescricao h1 {
        font-size: 20px;
        text-align: start;
    }

    .containerTxtDescricao p {
        margin-bottom: 10px;
        text-align: justify;
        width: 100%;
    }

    .containerTxtDescricao h4 {
        margin: 20px;
        text-align: center;
        font-size: 30px;
    }

    .containerBtnDescricao {
        width: 100%;
        font-size: 15px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .containerDescricaoPrincipal {
        height: fit-content;
        margin: 10px;
    }

    .containerProdutoDescricao {
        flex-direction: column;
        align-items: center;
    }

    .containerImgDescricao {
        margin: 20px;
        width: 90%;
        height: 500px;
    }

    .containerTxtDescricao {
        width: fit-content;
        margin: 40px;
        margin-top: 0px;
    }

    .containerTxtDescricao h1 {
        font-size: 25px;
        text-align: start;
    }

    .containerTxtDescricao p {
        margin-bottom: 10px;
        text-align: justify;
        width: 100%;
        font-size: 22px;
    }

    .containerTxtDescricao h4 {
        margin: 20px;
        text-align: center;
        font-size: 40px;
    }

    .containerBtnDescricao {
        width: 70%;
        justify-content: center;
        gap: 20px;
    }
}