@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  background-color: #CDCCCC;
}